{% extends "base.html" %}

{% block content %}
<script>
  function loadTable(){
    $.getJSON("/refresh", function(data){
      })
      .done(function( data ) {
        var htmlTable = '<thead><tr class="bellcolor-bg"><th width="30%">RDP hostname</th><th width="20%">RDP IP address</th><th width="20%">Accounts</th><th width="20%">Client hostname</th><th width="20%">Client IP</th><th>Status</th></tr></thead>'
        
        $.each(data,function(index, row){
          var htmlRow = '';
          $.each(row["accounts"], function(idx, account){

            if(typeof account["clientname"] == "undefined"){
              account["clientname"] = ""
            }
            if(typeof account["clientip"] == "undefined"){
              account["clientip"] = ""
            }

            htmlRow += index%2==1 ? '<tr style=" background: #CBECFF;">' : '<tr>';
            htmlRow += '<td>'+row["servername"]+'</td>';
            htmlRow += '<td>' +row["ip"]+'</td>';
            htmlRow += '<td>'+ account["username"] +'</td>';
            htmlRow += '<td>'+ account["clientname"] +'</td>';
            htmlRow += '<td>'+ account["clientip"] +'</td>';
            // htmlTable += '<td rowspan="1" class="no-border"> <div class="label-status '+ row["accounts"][0]["status"] +'">' + row["accounts"][0]["status"]=="disc" ? "Disconnected" : (row["accounts"][0]["status"]=="active" ? "Connected":"")
            htmlRow += '<td>';
            htmlRow += '<div class="label-status '+ account["status"] +'">';
            htmlRow += account["status"]=="disc" ? "Disconnected" : (account["status"]=="active" ? "Connected":"");
            htmlRow += '</div>';
            htmlRow += '</td>';
            htmlRow += '</tr>'; 
          });
          htmlTable += htmlRow;
        });
        var dt = new Date($.now());
        console.log(dt);
        var lastUpdate = dt.getFullYear() + "-" + ("0"+(dt.getMonth()+1)).slice(-2) + "-" + ("0"+dt.getDate()).slice(-2) + " " + ("0"+dt.getHours()).slice(-2) + ":" + ("0"+dt.getMinutes()).slice(-2) + ":" + ("0"+dt.getSeconds()).slice(-2)
        $('#last-update').html(lastUpdate);
        $("#tbl-server").html(htmlTable)
      });
  }
  
  $( document ).ready(function() {

    loadTable();
    // setInterval(loadTable,10000);

    $( function() {
      $( "#dialog" ).dialog({
        autoOpen: false,
        modal : true, 
        show : "blind", 
        hide : "blind",
        width: 300,
        draggable: false
      });
    });

    $('#btn-add-server').on('click', function(){
      $('#dialog').dialog('open');
    });

    $('#dialog-btn-add-server').on('click', function(){
      $.getJSON("/add_server",
        {
          servername: $('#txt-bell-server').val()
        },
       function(data){
      })
      .done(function(data){
      });
    });

  });

</script>

<div class="container">
    <h2>RDP Watcher <hr> <small>Last updated ( <span id="last-update"></span> )</small></h2>
    <br>

    <table style="width:100%" cellpadding="5" id="tbl-server">
      <thead>
        <tr class="bellcolor-bg">
          <th width="30%">RDP hostname</th>
          <th width="20%">RDP IP address</th>
          <th width="20%">Accounts</th>
          <th width="20%">Client hostname</th>
          <th width="20%">Client IP</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
         
      </tbody>
    
    
    </table>
    <div id="div-add-server">
      <button id="btn-add-server">Add Server</button>
    </div>
</div>

<div id="dialog" title="Add server">
    <input id="txt-bell-server" name="txt-bell-server" type="text" placeholder="server.on.bell.ca" aria-label="Bell Server">
    <button id="dialog-btn-add-server">Add Server</button>
  
</div>
{% endblock %}