body{
    font-family: Arial, Helvetica, sans-serif;
}

.bellcolor{
    color: #0066a4;
}

.bellcolor-bg{
    background: #0066a4;
    color: whitesmoke;
}

.container {
    width: 92%;
    margin: auto;
    padding: 10px;
}

.label-status{
    border-radius: 5%;
    padding: 5px;
    width: 95%;
    text-align: center;
    margin: auto;
    color: whitesmoke;
    font-weight: bold;
}

.label-status.active{
    background: #00b459;
}

.label-status.disc{
    background: #999999;
}

small{
    font-size: 60%;
}

table{
    border-collapse: collapse;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    text-align: left;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#tbl-server{
    height: 70%;
    overflow-y: scroll;
    display: block;
}

table > thead > tr > th:nth-child(6){
    text-align: center;
}

table > tbody > tr:nth-child(even){
    /* background: #CBECFF; */
    /* border-bottom: 1px solid #333; */
} 

#txt-bell-server{
    width: 100%;
}

#div-add-server{
    width: 100%;
    margin-top: 20px;
}

#btn-add-server{
    padding: 10px;
    background: #0066a4;
    color: whitesmoke;
    float: right;
    border: 0;
    border-radius: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#dialog-btn-add-server,
#dialog-btn-test-connection
{
    padding: 5px;
    background: #0066a4;
    color: whitesmoke;
    font-size: 12px;
    float: right;
    border: 0;
    border-radius: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 25px 0px 10px 10px;
}

.ui-dialog{
    background: white;
}

.output{
    font-size: 14px;
    clear: both;
}

#output-failed{
    display: none;
}

#output-success{
    display: none;
}